<h2>Minhas Atividades</h2>
<ul class="atividades">
  <li *ngFor="let atividade of atividades"
    [class.selected]="atividade === selectedAtividade"
    (click)="onSelect(atividade)">
    <span class="badge">{{atividade.id}}</span> {{atividade.desc}}
  </li>
</ul>
 
<div *ngIf="selectedAtividade">
 
  <h2>{{selectedAtividade.desc | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedAtividade.id}}</div>
  <div>
    <label>desc:
      <input [(ngModel)]="selectedAtividade.desc" placeholder="desc"/>
    </label>
  </div>
 
</div>